* {
    font-size: 16px;
}

header {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .logo i {
    color: #35a22c;
}

.navbar .logo span {
    font-size: 35px;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}


.collapse .nav-item a {
    color: white !important;
    transition: all 0.5s;
}

.menu li.active a {
    color: #35a22c !important;
}

/* cố định 1 chữ có màu và đường gạch */
.menu li a::after {
    content: "";
    background-color: green;
    display: block;
    width: 0;
    height: 1px;
    transition: all 0.5s;

}

.menu li.active a::after {
    width: 100%;
}

/* hiện màu xanh khi thả chuột */

.menu li:hover a {
    color: #35a22c !important;

}

/* hiện đường gạch dưới */

.menu li:hover a::after {
    width: 100%;
}


/* carousel */

.carousel-item {
    text-align: center;
    /* bao toàn bộ màn hình 100vh */
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.carousel-item:nth-child(1) {
    background-image: url(../img/mountains-1.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(../img/finland.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(../img/mountains.jpg);
}

.carousel-caption-thumb {
    width: 150px;
    margin: 0 auto;
}

.carousel-caption-thumb img {
    border-radius: 50%;
}

/* căng giữa theo chiều đứng (position) */

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item h3 {
    font-size: 3rem;
}

.carousel-item p {
    font-size: 1.5rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.title {
    text-align: center;
    
}

.title p {
    padding-top: 10px;
    color: grey;
}

.tab-content .card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, .13);
    cursor: pointer;

}

.tab-content .card-body h4 {
    font-size: 18px;
    font-weight: 400;
}

.tab-content .card-body p {
    color: grey;
}

.tab-content .card-body {
    border: 1px solid rgb(203, 199, 199);
    border-radius: 0 0 20px 20px;
    transition: all 0.5s;
}

.tab-content .card:hover .card-body {
    color: #33e224;
    border-color: #33e224;
    border-top-color: transparent;
}






.projects__content .nav-pills .nav-item a {
    color: #000000;
    border: 1px solid #000000;
    margin: 10px;
    border-radius: 5px;
}

.nav-pills .nav-link.active {
    background-color: #2cb330;
}

.nav-pills .nav-item a.active {
    color: white;
    border: none;

}

#service {
    background-image: url(../img/3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.service__overlay{
    position: absolute;
    background-color: #0000006e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#service .title{
    position: relative;
}



#service .container .title p {
    color: white !important;
}

.service__contact .card {
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff1c;
    color: white;
    backdrop-filter: blur(4px);
}

.service__contact .card h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.service__contact .card i {
    color: #2aae1e;
    margin-bottom: 20px;
}

.service__contact:hover .card {
    background-color: #000000;
    border: 1px solid white;
    transition: all 0.8s;
}


@media only screen and (max-width:576px) {
    #service .service__contact {
        margin: 1rem;
    }
}

@media only screen and (max-width:768px) {
    #service .service__contact {
        margin: 2rem;
    }
}

@media only screen and (max-width:824px) {
    #service .service__contact {
        margin: 2rem;
    }
}
@media only screen and (max-width:992px) {
    #service .service__contact {
        margin: 2rem;
    }
}

